* {
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 34rem;
  background-color: whitesmoke;
  border-radius: 8%;
  box-shadow: 0.3rem 0.3rem 1rem #c7c5c7;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(135deg, #e5b8cf, #7eb5ee);
  border-radius: 30px 30px 0 0;
  text-align: center;
  color: whitesmoke;
}

footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  padding: 0 0 0.5rem 0;
  background: linear-gradient(135deg, #e5b8cf, #7eb5ee);
  width: 100%;
  height: 4.5rem;
  border-radius: 0 0 30px 30px;
}

input {
  width: 90%;
  height: 2rem;
  border-style: none;
  outline: none;
  text-align: center;
  padding: 0 5.1% 0 5%;
}

input::placeholder {
  color: black;
}

.fa-plus-circle {
  font-size: 2rem;
  padding: 0.5rem 0 0 0;
  cursor: pointer;
}

section {
  display: flex;
  width: 100%;
  height: 24rem;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

ul {
  margin: 1.5rem 0 1.5rem 0;
  width: 80%;
  position: relative;
  list-style: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f7edf3;
  padding: 0.3rem 0 0.2rem 0;
  box-shadow: 0.1rem 0.1rem 0.3rem #c7c5c7;
}

span {
  margin-left: 0.5rem;
  flex: 1;
}

.fa-edit,
.fa-trash-alt {
  margin-right: 0.5rem;
  cursor: pointer;
  transition: color 0.2s;
}

.fa-edit:hover,
.fa-trash-alt:hover {
  transform: translateY(-0.1rem);
}

.fa-edit:hover {
  color: #7eb5ee;
}

.fa-trash-alt:hover {
  color: #ec96c2;
}

.fa-plus-circle:hover {
  transform: scale(1.1);
}

.change::placeholder {
  color: red;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #f0d6e5;
}

::-webkit-scrollbar-thumb:hover {
  background: #ecc6dc;
}

.editInput {
  width: 17.6rem;
  height: 22px;
  padding: 0.3rem 0 0.2rem 0;
  background-color: #f7edf3;
}
